.campaigns--container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.campaignsColumn {
  flex: 1;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.newCampaign--button {
  margin-bottom: 10px;
  background-color: #15144b;
  color: white;
}

.campaignItem {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.campaignItem.selected .campaignItem--title {
  color: yellow;
}

.campaignItem--title,
.deleteButton {
  display: inline-block;
  padding: 3px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}

.campaignItem--title p,
.deleteButton p {
  margin: 0; /* Reset margin for p elements */
}

.campaignItem--title {
  background-color: #15144b;
  color: white;
}

.deleteButton {
  background-color: red;
  color: white;
}

.campaigns--columnOne {
  color: #15144b;
  flex: 3;
  background-color: white;
  text-align: center;
  box-shadow: inset 5px 0 4px rgba(204, 204, 204, 0.5);
}

.timeButton {
  background-color: #15144b;
  color: #ffe500;
}

.campaigns--columnTwo {
  background-color: White;
  flex: 3;
  text-align: center;
}

.email-preview--container {
  height: 50%;
  width: 90%;
}

.email-preview {
  border: #15144b solid;
  height: 100%;
  width: 100%;
}

.campaignsList--header {
  color: #15144b;
  margin: 10px 0 10px 0;
}

.header {
  text-decoration: underline;
  color: #15144b;
}

.inputField {
  box-sizing: border-box;
  width: calc(50% - 20px);
}

.selectTemplate {
  box-sizing: border-box;
  width: calc(50% - 20px);
}

.timesAndRecipients {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.times {
  flex: 1;
}

.recipients {
  flex: 1;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

button {
  border-radius: 3px;
  cursor: pointer;
}

.button1 {
  background-color: #15144b;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: 5px;
  width: 100px;
}

.button2 {
  background-color: #15144b;
  color: white;
  margin-left: 5px;
  display: block;
  margin-right: auto;
  width: 100px;
}

.button3 {
  background-color: #15144b;
  color: #ffe500;
  width: 100px;
}

.columnOne--header {
  margin-bottom: 10px;
}

.conditionalMessage {
  flex: 4;
  text-align: center;
}
