.navbar {
  padding: 8px 0;
  margin: 0;
  background-color: #15144b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 10px;
  color: white;
}

.logo h2 {
  padding: 0;
  margin: 0;
}

.links {
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.links li {
  margin-right: 10px;
}

.links li.active {
  font-weight: bold;
  color: #ffe500;
}

.profile {
  margin-right: 10px;
}
